@media (max-width: 1280px) {
  .about-products .products {
    width: 90%;
  }
  .about-products .wrapper .title {
    font-size: 3.5em;
  }
}

@media (max-width: 1080px) {
  .about-products .products {
    width: 100%;
  }
  .about-products .products .product {
    width: 25%;
  }
}

@media (max-width: 1024px) {
  .about-products > .wrapper {
    width: 85%;
  }
  .about-products .wrapper .response {
    font-size: 1.35em;
  }
  .about-products .wrapper .see-all-products {
    font-size: 1.25em;
    margin: 30px auto;
  }
  .about-products .products .product {
    box-shadow: 0 1px 9px 1px rgb(0 0 0 / 25%);
  }
  .about-products .products .product:last-of-type {
    display: none;
  }
}

@media (max-width: 875px) {
  .about-products {
    padding: 0 0 50px;  
  }
  .about-products > .wrapper figure {
    width: 100%;
    margin: 20px 0;
  }
  .about-products .products .product {
    width: 30%;
  }
}

@media (max-width: 700px) {
  .about-products .products .product {
    width: 40%;
  }
  .about-products .products .product:last-of-type {
    display: flex;
  }
}

@media (max-width: 635px) {
  .about-products .products .product {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .about-products[category="omnilife"] {
    padding-top: 20% !important;
  }
  .about-products[category="seytu"] {
    padding-top: 10% !important;
  }
  .about-products > .wrapper {
    width: 90%;
  }
  .about-products > .wrapper .response {
    font-size: 1.25em;
  }
  .about-products > .wrapper .see-all-products {
    padding: 12px 0;
    font-size: 1rem;
    display: block;
    text-align: center;
    width: 100%;
  }
  .about-products .products {
    width: 100%;
  }
  .about-products .products .product {
    width: 50%;
    margin: 0;
    box-shadow: none;
    border-radius: 0%;
    border-top: 1px solid rgba(0,0,0,0.15);
  }
  .about-products .products .product:nth-child(even) {
    border-left: 1px solid rgba(0,0,0,0.15);
  }
  .about-products .products .product:nth-last-of-type(-n+2) {
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
}

@media (max-width: 375px) {
  .about-products .products .product {
    width: 70%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.15);
  }
  .about-products .products .product:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 360px) {
  .about-products .products .product {
    width: 80%;
  }
}

@media (max-width: 320px) {
  .about-products, .about-products > .wrapper .see-all-products {
    font-size: 4.25vw;
  }
}

@media (max-width: 280px) {
  .about-products .products .product {
    width: 90%;
  }
}