.testimonials {
  background-color: var(--bg-main);
  padding: 20px 0 70px;
}

.testimonials .wrapper {
  width: 90%;
  margin: auto;
}

.testimonials .wrapper .title {
  text-align: center;
  font-size: 4.75em;
  padding: 10px 0;
  font-family: "IMFellEnglishSC", sans-serif;
  line-height: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  width: 85%;
  line-height: 1;
  margin: 3.5% auto;
}

.testimonials .wrapper .testimonials-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}