@media (max-width: 1024px) {
  .about-products .products .product .title {
    margin-bottom: 1.5%;
  }
  .about-products .products .product a {
    padding: 2.25% 20%;
    font-size: 1.1em;
  }
}

@media (max-width: 900px) {
  .about-products .products .product:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    transition: none;
  }
}

@media (max-width: 600px) {
  .about-products .products .product {
    padding: 15px 0;
  }
  .about-products .products .product .wrapper {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .about-products .products .product .wrapper {
    text-align: center;
  }
}