:root {
  --bg-main: #EDEDED;
  --bg-nav: #8C0060;
  --bg-white: #f4f4f4;
  --bg-gray: #CDCDCD;
  --bg-gray-2: #ADADAD;
  --bg-yellow: #FBFB00;
  --bg-darkyellow: #E1CD00;
  --bg-orange: #F4B100;
  --bg-darkpurple: #68005B;
  --bg-darkred: #87002D;
  --bg-violet: #B40057;
  --bg-lightblue: #05C4CD;
}

#root {
  font-family: 'Lato', sans-serif;
}

/* ----- Scrollbar ----- */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-violet);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-violet);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  line-height: 1.4;
  font-family: 'Noto Sans', system-ui, sans-serif;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.text-decoration-none {
  text-decoration: none;
}

.pointer:hover {
  cursor: pointer;
}