/**
 * Filter by Categories
 */

#products-container[category="omnilife-products"]>.wrapper .filters #categories-container .title {
  color: var(--bg-darkpurple);
}

#products-container[category="omnilife-products"]>.wrapper .filters #categories-container .categories::-webkit-scrollbar-thumb {
  background-color: var(--bg-darkpurple);
}

#products-container[category="omnilife-products"]>.wrapper .filters #categories-container .categories .category span.active:before {
  color: var(--bg-yellow);
  background-color: var(--bg-darkpurple);
}

#products-container[category="omnilife-products"]>.wrapper .filters #categories-container .apply-filters {
  background: var(--bg-darkpurple);
  color: var(--bg-yellow);
}

/**
 * Products
 */

#products-container[category="omnilife-products"]>.wrapper .product .title {
  color: var(--bg-darkpurple);
}