footer {
  background-color: #000;
  color: #989595;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  font-size: 1em;
  padding-top: 25px;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  border-bottom: 1px solid #D59401;
  padding-bottom: 2%;
}

footer .footer-content section {
  word-wrap: break-word;
  width: 25%;
  box-sizing: border-box;
  color: #989595 !important;
}

footer .footer-content section .title {
  text-transform: uppercase;
  color: var(--bg-orange);
}

footer .footer-content section .wrapper-links {
  margin: 0;
}

footer .footer-content section .wrapper-links .link {
  color: #989595;
  padding: 5px 0;
}

footer .footer-content section .wrapper-links .link a:hover {
  color: var(--bg-white);
}


footer .footer-content section.disable-links .wrapper-links .link:hover a {
  cursor: auto;
}

footer .footer-content section .subtitle, footer .footer-content section .wrapper-links .link a {
  color: inherit;
}

footer .footer-content section .subtitle {
  margin: 12px 0 7px;
  text-transform: uppercase;
  font-size: .95em;
}

footer .footer-content section .register {
  background-color: #D59401;
  display: table;
  border: none;
  color: black;
  font-weight: bold;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: inherit;
}

footer .footer-content section .register:hover {
  background-color: #FFB901;
  text-decoration: underline;
  font-style: italic;
}

footer #copyright {
  text-align: center;
  display: block;
  margin: auto;
  padding: 1% 0;
  width: 25%;
}

footer #copyright #developer {
  color: #bdaa50;
  font-size: inherit;
  font-family: "Electrolize", sans-serif;
}