.testimony {
  width: 30%;
  margin: 1%;
  background: transparent;
  color: black;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
  padding: 20px 0;
  border-radius: 5px;
}

.testimony img {
  width: 25%;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 5%;
  height: auto;
}

.testimony .author-testimony {
  font-size: 1.2em;
  width: 90%;
  margin: auto;
}

.testimony .author {
  margin: 18px auto 21px;
  width: 80%;
  line-height: normal;
  font-size: 1.35em;
  text-align: center;
  font-weight: bold;
}

.read-more {
  cursor: pointer;
  padding: 1% 12%;
  font-family: 'Varela', sans-serif;
  display: table;
  margin: auto;
  color: var(--bg-white);
  border-radius: 5px;
  font-size: 1em;
  border: none;
  background-color: #B40057;
}

.read-more:hover {
  color: var(--bg-yellow);
}

.read-more:active {
  transform: scale(0.85);
}