@media (max-width: 1024px) {
  #root.default {
    margin: 0;
  }
  #page-not-found>.wrapper .go-to-home {
    font-size: 1.25em;
  }
}

@media (max-width: 768px) {
  #page-not-found>.wrapper figure {
    width: 30%;
  }
}

@media (max-width: 700px) {
  #page-not-found {
    padding: 0 1.5% 7%;
  }
  #page-not-found>.wrapper .title {
    line-height: .85;
    margin: 25px 0 20px;
  }
}

@media (max-width: 600px) {
  #page-not-found>.wrapper .type-error {
    font-size: 7em;
  }
  #page-not-found>.wrapper .title {
    font-size: 3.5em;
  }
  #page-not-found>.wrapper .message {
    font-size: 1.25em;
    width: 90%;
  }
}

@media (max-width: 400px) {
  #page-not-found>.wrapper {
    font-size: 3.5vw;
  }
  #page-not-found>.wrapper figure {
    width: 45vw;
    min-width: initial;
  }
  #page-not-found>.wrapper .go-to-home {
    padding: 3.5% 12%;
  }
  #page-not-found #magnifying-glass {
    width: 35vw;
    min-width: initial;
  }
}